.post {
	h1 {
		border-bottom:none;
		margin-bottom: 5px;
	}

	.meta {
		border-bottom: 1px solid rgba(0,0,0,.1);
		margin-bottom: 30px;
		padding-bottom: 10px;
		font-size: 75%;
		font-weight: 600;
	}
}

.posts {
	ul {
		list-style: none;
		padding: 0px;
	}
}
