[submodule "canvas-paint"]
	path = canvas-paint
	url = git://github.com/43081j/canvas-paint.git
	branch = master
[submodule "canvas-paths"]
	path = canvas-paths
	url = git://github.com/43081j/canvas-paths.git
	branch = master
[submodule "canvas-fractals"]
	path = canvas-fractals
	url = git://github.com/43081j/canvas-fractals.git
	branch = master
