<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="description" content="{{ page.description }}">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="{{ site.baseurl }}/app.css" rel="stylesheet">
	</head>
	<body>
		<div class="header">
			<div class="left">
				<h1>
					James Garbutt
				</h1>
				<p>
					<span>Software engineer.</span>
					<span>Front-end <a href="//twitter.com/crispthinking">@crispthinking</a>.</span>
					<span>JavaScript &amp; HTML5 expert.</span>
				</p>
			</div>
			<div class="right">
				<div class="social">
					<a href="//twitter.com/43081j" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
					<a href="//github.com/43081j" target="_blank"><i class="fa fa-github fa-2x"></i></a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="content">
