<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="description" content="{{ page.description }}">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<link href="app.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="side">
			<div class="info">
				<h1>43081j</h1>
				<p>Software engineer.</p>
				<p>Front-end <a href="//twitter.com/crispthinking">@crispthinking</a>.</p>
				<p>JavaScript and HTML5 expert.</p>
			</div>
			<a href="//twitter.com/43081j" class="twitter-follow-button">Follow @43081j</a>
		</div>
