{% include header.html %}

<article class="post">
	<h1>{{ page.title }}</h1>
	<div class="meta">
		<p>{{ page.date | date: '%B %d, %Y' }}</p>
		{% if page.path %}
		<a href="//github.com/43081j/43081j.github.io/blob/master/{{ page.path }}">
			<i class="fa fa-github"></i> Edit Page
		</a>
		{% endif %}
	</div>

	{{ content }}

	<div class="social">
		<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
		<div id="fb-root"></div>
		<div class="fb-like" data-share="true" data-layout="button_count" data-action="like"></div>
		<div class="g-plusone" size="medium"></div>
	</div>

	<div class="disqus">
		<div id="disqus_thread"></div>
	</div>
</article>

<script>
var disqus_shortname = '43081j',
	disqus_title = '{{ page.title }}',
	disqus_url = {% if page.disqus %}'{{ page.disqus }}'{% else %}'http://43081j.com{{ page.url }}'{% endif %};
(function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>

{% include footer.html %}
