{% include header.html %}

<article class="post">
	<h1>{{ page.title }}</h1>
	<div class="meta">
		<p>{{ page.date | date: '%B %d, %Y' }}</p>
		{% if page.path %}
		<a href="//github.com/43081j/43081j.github.io/blob/master/{{ page.path }}">
			<i class="fa fa-github"></i> Edit Page
		</a>
		{% endif %}
	</div>

	{{ content }}

	<div class="social">
		<div class="social-button">
			<div id="fb-root"></div>
			<div class="fb-like" data-share="true" data-layout="button_count" data-action="like"></div>
		</div>
		<div class="social-button">
			<div class="g-plusone" size="medium"></div>
		</div>
		<div class="social-button">
			<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
		</div>
	</div>

	<div class="disqus">
		<div id="disqus_thread"></div>
	</div>
</article>

{% include footer.html %}
